<footer class="main-footer">
    <div class="container">
        <div class="footer">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-paw"></i>
                    <h2>Santiago Lemoine</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-paw"></i>
                    <h2>Juan Ignacio Levy</h2>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-paw"></i>
                    <h2>Martina Vanderusten</h2>
                </article>
            </div>
        </div>
    </div>

    <ul class="iconos">
        <ul class="redes">
            <h6 class="titulos-redes">Seguinos en</h6>
            <ul class="iconos-redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
            </ul>
        </ul>
        <ul class="descargas">
            <h6 class="titulos-descargas">Descargá la App acá!</h6>
            <ul class="iconos-descargas">
                <i class="fab fa-app-store"></i>
                <i class="fab fa-android"></i>
            </ul>
        </ul>
    </ul>
</footer>