<!DOCTYPE html>
<html lang="es">
	
	<%- include('partials/head.ejs') %>
<body>
	

	<%- include('partials/header.ejs') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 id= "titulo"> <span>Iniciar sesión</span></h1>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
			   <div class="uk-container">
				<div class="uk-section uk-section-large">
				  <form id="formLogin" method="POST" class="uk-background-secondary uk-padding uk-padding-large" action="/users/login" >
				  
					<div class="uk-margin">
						<label id="label" for="">E-mail</label>
						<br>
						<div class="uk-inline">
						<span class="uk-form-icon" uk-icon="icon: mail"></span>
						<input class="uk-input uk-form-width-large" type="email" name="email">
						</div>
					</div>
				<div class="uk-margin">
					<label id="label" for="">Contraseña</label>
					<br>
					<div class="uk-inline">
					<span class="uk-form-icon" uk-icon="icon: lock"></span>
					<input class="uk-input uk-form-width-large" type="password" name="password">

					</div>
					  </div>
					  </div>
					  <br>
				</div>	
		</div>	
		
			<% if (error) { %>
			 <p> <%= error %>  </p>
			<% } %>
		
					<div class= "botones-form">
						  <input class="button button2" type="submit" value="Ingresar">
					 	 <input class="button button2" type="submit" value="Cancelar">
					</div>
	</div>
		  
				  </form>
				</div>
			  </div>
			</h2>

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>