<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>
<body>

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 id= "titulo"> <span>Registrarse</span></h1>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
			<div class= "flex-container">
			<form action="register.ejs" method="POST">
				<div class="uk-margin">
					<label id="label" for="">Nombre</label>
					<br>
					<div class="uk-inline">  
					<span class="uk-form-icon" uk-icon="icon: user"></span>
					<input class="uk-input uk-form-width-large" type="text" name="nombre">
					</div>
				</div>
				<div class="uk-margin">
					<label id="label" for="">E-mail</label>
					<br>
					<div class="uk-inline">
					<span class="uk-form-icon" uk-icon="icon: mail"></span>
					<input class="uk-input uk-form-width-large" type="email" name="email">
					</div>
				</div>
			<div class="uk-margin">
				<label id="label" for="">Contraseña</label>
				<br>
				<div class="uk-inline">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input class="uk-input uk-form-width-large" type="password" name="password">
				</div>
			</div>
			<div class="uk-margin">
				<label id="label" for="">Fecha de nacimiento</label>
				<br>
				<input class="uk-input uk-form-width-large" type="date" name="fecha_de_nacimiento">
			</div>
			
			<input class="button button2" type="submit" value="Enviar">
				</form>
			</div>
		</div>		
			</h2>
		</div>
            
	<!-- footer1 -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>